@import url("https://fonts.googleapis.com/css2?family=Yuyu&display=swap");

.box-1 {
  border: 5px solid #f00000; /* Đường viền 5cm màu đỏ
    dotted: đường viền chấm
    dashed: đường viền nét đứt
    solid: đường viền liền*/
  padding: 100px 20px 77px 100px; /* phần đệm top, right, bottom, left theo đường kim đồng hồ*/
  margin-bottom: 100px; /* lề */
  text-align: justify; /* Dùng để căn lề ngang cho văn bản (justify: căn đều 2 lề) */
  text-transform: lowercase; /* Dùng để viết chữ hoa, chữ thường
    uppercase: Full hoa
    capitalize: Viết hoa chữ cái đầu
    lowercase: Full thường */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif; /* (font chữ) */
  font-weight: 400; /* Độ dày chữ */
  font-style: normal; /* In nghiêng, in đậm,.. */
  font-size: 20px; /* Kích thước phông chữ */
  display: block; /* Hiển thị
  inline: fix cứng
  block: Chiều rộng kéo từ trái sang phải, sử dụng được margin, padding 
  inline-block: Nó giúp các phần tử nằm cạnh nhau trên cùng một hàng nhưng vẫn có thể thiết lập chiều rộng, chiều cao và khoảng cách (lề/phần đệm)
  none: ẩn phần tử*/
  visibility: hidden; /* hidden: ẩn nhưng vẫn chiếm diện tích
  visiable: mặc định, luôn được hiển thị */
  position: relative; /* Vị trí
  static: tĩnh
  fixed: cố định
  relative: tương đối
  absolute: tuyệt đối
  sticky: tương đối + tuyệt đối */
  z-index: 999; /* Thứ tự xếp chồng(không có tác dụng khi position: static;) */
}

div + h1 {
  /* (Bộ chọn anh chị em liền kề) */
  background-color: #f00000;
}

div ~ h2 {
  /* (Bộ chọn anh chị em chung) */
  background-color: #f00000;
}

div > p {
  /* (Bộ chọn con) */
  background-color: #c29a9a;
}

div p {
  /* Bộ chọn hậu duệ */
  background-color: aquamarine;
}

.box {
  background: #c29a9a;
  display: inline-block;
  width: 50px;
  height: 50px;
}
